<div>ADD/Edit</div>

<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div class="row">

  <input type="text" [(ngModel)]="person.firstName" name="firstName" placeholder="First Name" #firstName="ngModel"  required pattern="[A-Za-z]+">

  <input type="text" [(ngModel)]="person.lastName" placeholder="Last Name" name="lastName" #lastName="ngModel"  required pattern="[A-Za-z]+">

  <input type="number" step="0.01" [(ngModel)]="person.income" placeholder="Income (e.g. 5555.55)" name="income" #income="ngModel"  required>

  <input type="text" [(ngModel)]="person.avatarURL" placeholder="Avatar URL" name="avatarURL" #avatarURL ="ngModel" >

  <input type="button" value="new" (click)="createNew()">

  <button type="submit"  class="btn btn-primary"  [disabled]="!f.form.valid">save</button>

</div>
</form>
